@font-face {
	font-family: 'Calibre';
	src: url('../fonts/Calibre Regular.eot');
	src: local('☺'), url('../fonts/Calibre Regular.woff') format('woff'), url('../fonts/Calibre Regular.ttf') format('truetype'), url('../fonts/Calibre Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Calibre';
	src: url('../fonts/Calibre Light.eot');
	src: local('☺'), url('../fonts/Calibre Light.woff') format('woff'), url('../fonts/Calibre Light.ttf') format('truetype'), url('../fonts/Calibre Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Calibre';
	src: url('../fonts/Calibre Medium.eot');
	src: local('☺'), url('../fonts/Calibre Medium.woff') format('woff'), url('../fonts/Calibre Medium.ttf') format('truetype'), url('../fonts/Calibre Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?kvmxu2');
  src:  url('../fonts/icomoon.eot?kvmxu2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?kvmxu2') format('truetype'),
    url('../fonts/icomoon.woff?kvmxu2') format('woff'),
    url('../fonts/icomoon.svg?kvmxu2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-telegram:before {
  content: "\e92a";
  color: #4a4a4a;
}
.icon-arr_slide_left:before {
  content: "\e900";
  color: #c5c5c5;
}
.icon-arr_video:before {
  content: "\e901";
  color: #3b8be7;
}
.icon-arrow_bottom:before {
  content: "\e902";
}
.icon-arrow_left:before {
  content: "\e903";
}
.icon-arrow_right:before {
  content: "\e904";
}
.icon-bitcointalk-white:before {
  content: "\e905";
  color: #4a4a4a;
}
.icon-check:before {
  content: "\e906";
  color: #fff;
}
.icon-github-white:before {
  content: "\e907";
  color: #4a4a4a;
}
.icon-hand:before {
  content: "\e908";
  color: #c5c5c5;
}
.icon-icon_1:before {
  content: "\e909";
  color: #ffbb32;
}
.icon-icon_2 .path1:before {
  content: "\e90a";
  color: rgb(255, 187, 50);
}
.icon-icon_2 .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 187, 50);
}
.icon-icon_2 .path3:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 187, 50);
}
.icon-icon_2 .path4:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(245, 166, 35);
}
.icon-icon_3:before {
  content: "\e90e";
  color: #ffbb32;
}
.icon-icon_4:before {
  content: "\e90f";
  color: #ffbb32;
}
.icon-icon_5:before {
  content: "\e910";
  color: #ffbb32;
}
.icon-icon-bank .path1:before {
  content: "\e911";
  color: rgb(43, 47, 124);
}
.icon-icon-bank .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(43, 47, 124);
}
.icon-icon-bank .path3:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(43, 47, 124);
}
.icon-icon-bank .path4:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(43, 47, 124);
}
.icon-icon-bank .path5:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(59, 139, 231);
}
.icon-icon-bank .path6:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(59, 139, 231);
}
.icon-icon-bank .path7:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(43, 47, 124);
}
.icon-icon-percent .path1:before {
  content: "\e918";
  color: rgb(43, 47, 124);
}
.icon-icon-percent .path2:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(43, 47, 124);
}
.icon-icon-percent .path3:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(59, 139, 231);
}
.icon-icon-percent .path4:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(59, 139, 231);
}
.icon-icon-pie-chart .path1:before {
  content: "\e91c";
  color: rgb(59, 139, 231);
}
.icon-icon-pie-chart .path2:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(43, 47, 124);
}
.icon-icon-pie-chart .path3:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(43, 47, 124);
}
.icon-icon-users .path1:before {
  content: "\e91f";
  color: rgb(59, 139, 231);
}
.icon-icon-users .path2:before {
  content: "\e920";
  margin-left: -1.130859375em;
  color: rgb(43, 47, 124);
}
.icon-icon-users .path3:before {
  content: "\e921";
  margin-left: -1.130859375em;
  color: rgb(59, 139, 231);
}
.icon-icon-users .path4:before {
  content: "\e922";
  margin-left: -1.130859375em;
  color: rgb(43, 47, 124);
}
.icon-linkedin-white:before {
  content: "\e923";
  color: #4a4a4a;
}
.icon-medium-white:before {
  content: "\e924";
  color: #4a4a4a;
}
.icon-quote:before {
  content: "\e925";
  color: #ffbb32;
}
.icon-reddit-white:before {
  content: "\e926";
  color: #4a4a4a;
}
.icon-star:before {
  content: "\e927";
  color: #eaeaea;
}
.icon-twitter-white:before {
  content: "\e928";
  color: #4a4a4a;
}
.icon-youtube-white:before {
  content: "\e929";
  color: #4a4a4a;
}
.icon-preview:before {
  content: "\e92b";
  color: #98a0a6;
}

