.disclaimers-main {
    padding-top: 93px;
    padding-left: 5px;
    position: relative;
    &::before {
        display: block;
        content: '';
        position: absolute;
        right: -15px;
        top: 6%;
        background: url(../img/bg_1.svg) no-repeat left top;
        width: 258px;
        height: 732px;
        z-index: 0;
    }
    &::after {
        content: '';
        position: absolute;
        display: block;
        background: url(../img/bg_8.svg);
        height: 1050px;
        background-repeat: no-repeat;
        width: 221px;
        left: -108px;
        top: 617px;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        z-index: -1;
    }
    h6 {
        font-weight: 500;
        letter-spacing: 0.5px;
        color: #8f8f8f;
        font-size: 18px;
        padding-top: 15px;
        padding-bottom: 16px;
    }
    p {
        font-size: 18px;
        font-weight: normal;
        line-height: 1.44;
        letter-spacing: 0.5px;
        color: #8f8f8f;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    h1 {
        padding-bottom: 32px;
    }
    
}
.disclaimers{
    .documents-info{
        margin-top: 135px;
    }
}
@media screen and (max-width: 1279px){
    .disclaimers-main{
        padding-left: 0;
    }
}
@media screen and (max-width: 1024px){
    .disclaimers-main{
        padding-top: 30px;
    }
}