
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer{
	background: #fff;
	height:128px; 
	text-align:left;
	width:100%;
	min-width: $min-width;
	order: 3;	
    -webkit-order: 3;	
}
.cookie footer{
    height: 180px;
}

.footer {
	&__wrap {
		border-top: 1px solid rgba(180,180,180,0.5);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 128px;
        padding-left: 7px;
	}
	.logo {
		width: 200px;
	}
	&-nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
        padding-top: 4px;
		&__item {
			margin-left: 50px;
			&:first-child {
				margin-left: 0;
			}
		}
		&__link {
			display: block;
			font-weight: 500;
			line-height: 24px;
			font-size: 16px;
			color: #8A8D99;
			transition: 0.3s;
			&:hover {
    			color: #60a6f6;
			}
		}
	}
	.social-list {
		padding: 0;
		&__item {
			padding-right: 41px;
		}
	}
}



@media screen and (max-width: 1279px) {
	.footer__wrap{
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
        height: auto;
        ul{
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
    footer{
        height: auto;
    }
    .cookie footer{
        height: auto;
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 1023px) {
	.footer__wrap ul {
		margin: 30px 0; 
	}
    .cookie footer{
        padding-bottom: 80px;
    }
}

@media screen and (max-width: 767px) {
	.footer .social-list__item{
        padding-right: 35px;
    }
}

@media screen and (max-width: 550px) {
	.footer__wrap {
		margin: 0 -20px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 0;
	}
	.footer .logo {
		width: 260px;
		margin: 36px 0 23px;
	}
	.footer__wrap ul {
		justify-content: center;
		flex-wrap: wrap;
	}
	.footer-nav__item {
		margin-bottom: 31px;
		flex: 0 0 auto;
		padding: 0 22px;
		margin-left: 0;
		text-align: center;
	}
	.footer-nav__link {
		font-size: 20px;
	}
	.footer .social-list {
		display: block;
		background: #F6F6F6;
		width: calc(100% + 60px);
		font-size: 0;
	}
	.footer .social-list__item {
		width: 25%;
		padding: 0;
		text-align: center;
		padding: 23px 0;
	}
	.footer .social-list__link {
    	font-size: 30px;
	}
}